.maincontent {
    display: flex;
    justify-content: space-between;
    color: var(--primary-clr);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: none !important;
    padding: 1rem 1.5rem;
}

.maincontent_loading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-clr);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: none !important;
    padding: 1rem 1.5rem;
    position: relative;
}

.maincontent_info {
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    border-radius: var(--br);
    height: fit-content;
}

.maincontent_info>h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Ysabeau Infant', sans-serif;
    margin: 0;
    padding: 0;
}

.maincontent_info>h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.maincontent_info>p {
    font-size: 1.3rem;
}

.svg_cont {
    position: relative;
    width: 15rem;
    height: 15rem;
}

.svg_cont>img {
    display: block;
    opacity: .8;
}

.loading_spinner {
    width: 5rem !important;
    margin-inline: auto;
    /* animation: infiniteRotation infinite linear; */
    animation-name: infiniteRotation;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes infiniteRotation {
    100% {
        rotate: -360deg;
    }
}