@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Ysabeau+Infant:wght@400;600&display=swap');


:root {
    --primary-bg: hsla(0, 0%, 6%, 1);
    --primary-clr: #f0ecec;
    
    --br: .5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*font-family: 'Ysabeau Infant', sans-serif;*/

html {
    /*1rem === 10pc */
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

input,
button {
    font-family: inherit;
}

button {
    border: none;
    background: none;
}