.daysCard_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 1.5rem 3rem;
    position: relative;
    box-shadow: .1rem .1rem .2rem rgba(141, 140, 140, 0.2);
    border: 1px solid #222;
}

.weather_info>h3 {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.weather_info>h4,
.weather_info>p {
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0;
    margin-top: .9rem;
}

.weather_info_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather_info_icon>h2 {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: .5px;
}


@media only screen and (max-width: 22em) {
    .daysCard_card {
        flex-direction: column;
        align-items: stretch;
        padding: 1rem 1.5rem;
    }

    .weather_info {
        width: 100%;
    }

    .weather_info>h3 {
        font-size: 1.8rem;
    }

    .weather_info>h4,
    .weather_info>p {
        font-size: 1rem;
    }

    .weather_info_icon {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .weather_info_icon>img {
        justify-self: end;
        width: 40%;
    }
}