.sidebar {
    display: none;
}

.sidebarActive {
    display: block;
    padding: 1rem 1.5rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary-bg-2);
    z-index: 1;
}

.sidebar_search_cont {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    height: 3rem;
}

.sidebar_search_cont>input {
    padding: 1rem 1.5rem;
    border-radius: .3rem;
    border: none;
    background: var(--primary-clr);
}

.sidebar_search_cont>input:is(:hover, :focus) {
    outline: none;
}

.sidebar_search_cont>button {
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in-out;

    width: 5rem;
    height: 100%;
}

.sidebar_search_cont>button>svg {
    width: 100%;
    height: 100%;
    stroke: var(--primary-clr);
    transition: stroke 300ms ease-in-out;
}

.sidebar_search_cont>button:is(:hover, :focus) {
    background-color: #fff;
}

.sidebar_search_cont>button:is(:hover, :focus)>svg {
    stroke: #000;
}

.sidebar_closebtn {
    color: var(--primary-clr);
    width: 100%;
    border: 1px solid var(--primary-clr);
    border-radius: .6rem;
    padding-block: 1rem;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
}

@media screen and (min-width: 50em) {
    .sidebar {
        display: block;
        padding: 1rem 1.5rem;
        position: static;
        background: var(--primary-bg-2);
        height: 100%;
        border-radius: var(--br);
    }

    .sidebar_search_cont {
        margin-top: 1rem;
    }

    .sidebar_search_cont>input {
       flex-grow:2;
    }

    .sidebar_closebtn {
        display: none;
    }
}